{% extends 'base.html' %}
{% load static %}



{% block content %}
    <title>Login Y Registro</title>
        <link rel="stylesheet" href= '{% static "/css/estilos.css" %}'>
            <main>
                <div class="contenedor__todo">
                    <!--caja trasera con las funciones de alternar entre logearse o registrarse-->
                    <div class="caja__trasera">
                        <div class="caja__trasera-login">
                            <h3>¿Ya tienes cuenta?</h3>
                            <p>Inicia sesión para entrar.</p>
                            <button id = "btn__iniciar-sesion"> Iniciar sesión </button>
                        </div>
                        <div class="caja__trasera-register">
                            <h3>¿Aún no tienes una tienes cuenta?</h3>
                            <p>Registrate para iniciar sesión.</p>
                            <button id = "btn__registrarse"> Registrarse </button>
                        </div>
                    </div>
                    <!--contenedor con las funciones de logearse o registrarse-->
                    <div class="contenedor__login-register">
                        <form action="/" class="formulario__login" method="post">
                            {% csrf_token %}
                            <h2>Iniciar Sesión</h2>
                                {% if user_not_found %}
                                    <h3> Usuario o contraseña incorrectos</h3>
                                {% endif %}
                            <input type="text" placeholder="Usuario" 
                                name = 'username' required minlength="5">
                            <input type="password" placeholder="Contraseña" 
                                name = 'password' required>
                            <button type="submit" name="login--">Entrar</button>
                        </form>
                        <form action="/" class="formulario__register" method="post">
                            {% csrf_token %}
                            <h2>Registrarse</h2>
                                {% if usuario_ya_existente %}
                                    <h3> Usuario ya existente </h3>
                                {% endif %}
                                {% if datos_invalidos %}
                                    <h3> Datos invalidos </h3>
                                {% endif %}
                            <input type="text" placeholder="RUT Empleado" 
                                name = 'rut_del_empleado' required>
                            <input type="text" placeholder="Nombre(s)" 
                                name="first_name" required>
                            <input type="text" placeholder="Apellido(s)" 
                            name="last_name" required>
                            <input type="text" placeholder="Correo Electrónico"
                                name="email" required>
                            <input type="text" placeholder="RUT Empresa" 
                                name = 'rut_de_la_empresa' required>
                            <input type="text" placeholder="Usuario"
                                name="username" required>
                            <input type="password" placeholder="Contraseña"
                                name="password" required minlength="9">
                            <button type="submit" name="registrarse--">Registrarse</button>
                        </form>
                    </div>
                </div>
            </main>
        <script src='{% static "/js/script.js" %}'> </script>
{% endblock %}


